:root {
    --body-background-color: #36A0A3;
    --header-background-color: #4E5D63;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--body-background-color);
}

header {
    background-color: var(--header-background-color);
}

#climb-to-the-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
} 

#climb-to-the-top:hover {
    background-color: #555;
}
